<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
<div class="container">
    <header>
        <div class="left-menu">
            <a th:href="@{/}">GOT A TIP?</a>
        </div>
        <div class="logo">yourlog</div>
        <div class="right-menu">
            <div class="auth-buttons">
                <div sec:authorize="isAuthenticated()">
                    <a th:href="@{/logout}" class="button subscribe">LOG OUT</a>
                    <a th:href="@{/}" class="button login">LOG IN</a>
                </div>
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/loginform}" class="button login">LOG IN</a>
                </div>
            </div>
            <div class="newsletter">
                <a th:href="@{/blog/write}">
                    <img src="/image/newpost-icon.JPG" alt="New Post Icon">
                </a>
            </div>
        </div>
    </header>

    <div class="line-separator"></div>

    <nav>
        <div class="nav-links">
            <a th:href="@{/}">HOME</a>
            <a th:href="@{/}">LIKE</a>
            <a th:href="@{/}">TAG</a>
            <a th:href="@{/}">SERIES</a>
            <a th:href="@{/}">CHAT</a>
        </div>
        <div class="search">
            <a th:href ="@{/}">
                <img src="/image/search-icon.JPG" alt="Search Icon">
            </a>
        </div>
    </nav>

    <div class="line-separator"></div>
</div>
</body>
</html>
